hostname {{ inventory_hostname }}
!
interface Management0
   ip address {{ basic_config['device_mgmt'][inventory_hostname] }}
   

service routing protocols model multi-agent
!
dns domain arista.lab
!
ip route 0.0.0.0/0 {{ basic_config['gateway'] }}
!
ip routing
!